										<h2>Contact</h2>
										<form netlify name="contact" method="post" action="#">
											<div class="row uniform">
												<div class="name">
													<input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
												</div>
												<div class="email">
													<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
												</div>
												<div class="12u$ category">
													<div class="select-wrapper">
														<select name="demo-category" id="demo-category">
															<option value="">- Category -</option>
															<option value="1">Myofascial Release</option>
															<option value="1">Sports and theraputic massage</option>
															<option value="1">Bodywork and MFR training</option>
														</select>
													</div>
												</div>
												<div class="4u 12u$(small) radio priority-low">
													<input type="radio" id="demo-priority-low" name="demo-priority" checked>
													<label for="demo-priority-low">Low</label>
												</div>
												<div class="4u 12u$(small) radio priority-normal">
													<input type="radio" id="demo-priority-normal" name="demo-priority">
													<label for="demo-priority-normal">Normal</label>
												</div>
												<div class="4u$ 12u$(small) radio priority-high">
													<input type="radio" id="demo-priority-high" name="demo-priority">
													<label for="demo-priority-high">High</label>
												</div>
												<div class="6u 12u$(small) checkbox demo-copy">
													<input type="checkbox" id="demo-copy" name="demo-copy">
													<label for="demo-copy">Email me a copy</label>
												
													<input type="checkbox" id="demo-human" name="demo-human" checked>
													<label for="demo-human">Not a robot</label>
												</div>
												<div class="12u$ message">
													<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
												</div>
												<div class="12u$ send">
													<ul class="actions">
														<li><input type="submit" value="Send Message" class="special primary" /></li>
														<li><input type="reset" value="Reset" /></li>
													</ul>
												</div>
											</div>
										</form>